<div>
        <p>Choose what you would like to see a list of</p>
        <mat-radio-group>
            <mat-radio-button name="dog" id="dog" value="dog" (click)="register('dogs')" routerLink="dogs">Dogs</mat-radio-button>
            <mat-radio-button value="sitter" (click)="register('sitters')" routerLink="sitters">Sitters</mat-radio-button>
        </mat-radio-group>
    </div>
    
    <div *ngIf="isSelected('dogs')">
        <app-dog></app-dog>
    </div> 
    
    <div *ngIf="isSelected('sitters')">
        <app-sitter></app-sitter>
    </div>
