<div>
    <p>Choose what you would like to see a list of</p>
    <mat-radio-group>
        <mat-radio-button name="dog" id="dog" value="dog" (click)="register('dogs')" routerLink="dogs">Dogs</mat-radio-button>
        <mat-radio-button value="sitter" (click)="register('sitters')" routerLink="sitters">Sitters</mat-radio-button>
    </mat-radio-group>
</div>

<mat-form-field>
    <input matInput placeholder="Search" [(ngModel)]="search">
  </mat-form-field>
    
<div *ngIf="isSelected('dogs')">
    <app-dog [search]="search"></app-dog>
</div> 

<div *ngIf="isSelected('sitters')">
    <app-sitter [search]="search"></app-sitter>
</div>
