<form [formGroup]="registerDogForm" novalidate
  (submit)="onSubmit(registerDogForm)">

  <div>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input id="name" matInput formControlName="name">
      <mat-error *ngIf="registerDogForm.controls.name.errors?.required && registerDogForm.controls.name.touched">
          Please fill out the name
      </mat-error> 
    </mat-form-field>
  </div>

  <div>
      <mat-form-field>
        <mat-label>Breed</mat-label>
        <input id="breed" matInput formControlName="breed">
        <mat-error *ngIf="registerDogForm.controls.breed.errors?.required && registerDogForm.controls.breed.touched">
            Please fill out the breed
        </mat-error> 
      </mat-form-field>
    </div>

  <div>
      <mat-form-field>
        <mat-label>Age</mat-label>
        <input id="age" matInput formControlName="age">
        <mat-error *ngIf="registerDogForm.controls.age.errors?.required && registerDogForm.controls.age.touched">
            Please fill out the age
        </mat-error> 
      </mat-form-field>
  </div>

  <div>
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <input id="gender" matInput formControlName="gender">
        <mat-error *ngIf="registerDogForm.controls.gender.errors?.required && registerDogForm.controls.gender.touched">
            Please fill out the gender
        </mat-error> 
      </mat-form-field>
  </div>

  <div>
      <mat-form-field>
        <mat-label>Postal code</mat-label>
        <input id="postalcode" matInput formControlName="postalcode">
        <mat-error *ngIf="registerDogForm.controls.postalcode.errors?.required && registerDogForm.controls.postalcode.touched">
            Please fill out the postal code
        </mat-error> 
      </mat-form-field>
    </div>

    <div>
        <button type="e2e-submit" [disabled]="registerDogForm.invalid" mat-button>Register</button>  
    </div> 

</form>
