/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

header {
    background-color: rgb(96, 100, 127); 
    height: 100px;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
    background-color: rgba(76, 83, 124, 0.596);

} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
} 

li {
    float: left;
}

li a {
    display: block;  
}


mat-label {
    color:rgb(57, 82, 136);  
    font-size: 150%
}

.mat-toolbar {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
    color:  rgb(30, 19, 92);
    background-color: rgb(103, 111, 165); 
    text-align: center;
    /* width: 100%; */
}

.mat-error {
    color: red;
}

.mat-radio-button.mat-accent.mat-radio .mat-radio-outer-circle {
    border-color: rgb(96, 100, 127);
  }

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:rgb(96, 100, 127);
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: rgb(96, 100, 127);
}








